header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.98);
  background-image: url("../images/background.png");
  width: 90%;
  max-width: 1600px; 
}

.social {
  position: absolute;
  top: 20px;
  right: 20px; 
}